.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at top,
    #020617,
    #020617,
    #020617,
    #020617
  );
}

/* CARD */
.login-card {
  background: linear-gradient(
    180deg,
    #1e05ac,
    #081552
  );
  border-radius: 16px;
  padding: 40px;
  width: 100%;
  max-width: 380px;

  box-shadow:
    0 0 0 1px rgba(34, 211, 238, 0.15),
    0 20px 50px rgba(0, 0, 0, 0.8);
}

/* TÍTULO */
.login-card h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 6px;
  color: #22d3ee;
}

/* SUBTÍTULO */
.login-card p {
  text-align: center;
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 24px;
}

/* ERRO */
.error {
  display: block;
  background: rgba(248, 113, 113, 0.15);
  border: 1px solid rgba(248, 113, 113, 0.4);
  color: #f87171;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.85rem;
  margin-bottom: 16px;
  text-align: center;
}

/* INPUTS */
.login-card input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 14px;

  border-radius: 10px;
  border: 1px solid #1e293b;
  background-color: #020617;
  color: #e5e7eb;

  outline: none;
  font-size: 0.95rem;

  transition: border 0.2s, box-shadow 0.2s;
}

.login-card input::placeholder {
  color: #64748b;
}

.login-card input:focus {
  border-color: #22d3ee;
  box-shadow: 0 0 0 2px rgba(34, 211, 238, 0.25);
}

/* BOTÃO */
.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: linear-gradient(
    135deg,
    #22d3ee,
    #0ea5e9
  );

  border: none;
  border-radius: 12px;
  color: #020617;

  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;

  transition: transform 0.15s, box-shadow 0.15s;
}

.login-card button:hover {
  transform: translateY(-1px);
  box-shadow:
    0 10px 30px rgba(34, 211, 238, 0.35);
}

.login-card button:active {
  transform: translateY(0);
}
