/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* FUNDO GLOBAL */
html, body, #root {
  height: 100%;
  background: radial-gradient(
    circle at top,
    #020617,
    #020617,
    #020617,
    #020617
  );
  color: #e5e7eb;
}
