services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fullstack
    volumes:
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
